 .back {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
    align-items:flex-start;
    color: black;
    height:100%;
    width:100;
    padding: 12px 16px 12px 24px;
    background: white;
    border-radius: 10px;
    font-family: 'Nunito Sans';
    font-style: normal;
  }

.text{
    display: flex;
    flex-direction:flex-start;
    margin:5px;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;

/* Foundation /Blue/B400 */

color: #040D1C;
}  

.event{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items:flex-start;
    width: 761px;
    height: 54px;
    left: 61px;
    top: 276px;
    background: #E6F0FF;
    border: 1px solid #96C0FF;
    border-radius: 10px;
    
}  
.description{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 761px;
    height: 189px;
    left: 65px;
    top: 379px;
    background: #E6F0FF;
    border: 1px solid #2B7FFF;
    border-radius: 10px;
}

.img{
    width: 394px;
    height: 189px;
    left: 65px;
    top: 691px;
    background: #E6F0FF;
    border-radius: 10px; 
    flex-wrap: wrap;  
}
.buttons {
	display:flex;
    flex-direction: start;
    justify-content: space-between;
}
.b
/*.buttons input[type=radio] {
	display: none;
}
.buttons label {
	cursor: pointer;
	padding: 0px 15px;
	line-height: 34px;
	border: 1px solid #999;
	border-radius: 6px;
	user-select: none;
}
 

input[type=radio]:checked + label {
    background:  #0065FF;
  }
 

.buttons label:hover {
	background:  #0065FF;
}*/
.address{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 755px;
    height: 54px;
    left: 57px;
    top: 1193px;
    background: #E6F0FF;
    border: 1px solid #96C0FF;
    border-radius: 10px;
}

.Day{
    display: flex;
    flex-direction: row; 
    align-items: flex-start;
    gap:5px;
}
.date{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    width: 256px;
    height: 40px;
    background: #E6F0FF;
    border: 1px solid #0065FF;
    border-radius: 10px;   
}

.time{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 16px 12px 24px;
    gap: 10px;
    position: absolute;
    width: 80px;
    height: 40px;
    background: #E6F0FF;
    border: 1px solid #96C0FF;
    border-radius: 10px;
}

.buttonSubmit{
    background: #E6F0FF;
    border: 1px solid #96C0FF;
    border-radius: 10px;
    font-family: 'Nunito Sans';
    font-style: normal;
}