.FormInput__formControl {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
    align-items: flex-start;
    width:100%;
    height: 100%;
  }
  
  
  
  .FormInput__label {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #303A4D;
  }